*{
    font-family:"Gotham 4r", Helvetica, Arial, sans-serif;
}
#main{
 height: 70px;
 width: 100%;
 background-color: #fff;;  
 display: flex;
}
#logo{
    height: 27px;
    width: 10.2%;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 20px;
}
input{
    height: 40px;
    width: 40%;
    margin-top: 13px;
    margin-left: 20px;
    font-size: large;

}

#continue{
    display: flex;
    line-height: 1px;
    height: 40px;
    width: 100%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}
#cont-shop{
    font-size: large;
    cursor: pointer;
    margin-left: 6px;
    font-weight: 550;
}
#less-than{
    height: 22px;
    width: 20px;
    margin-left: 20px;
    margin-top: 6px;
    cursor: pointer;
}
#cartbar{
    height: 110px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid;
}
.imp{
    height: 75px;
    width: 100%;
    background-color: rgb(213, 237, 239);
    display: flex ;
}
#down-bar{
    height: 35px;
    width: 100%;
    background-color:rgb(20,113,138);
     
}
#offer{
    height: 50px;
    width: 25%;
    background-color:rgb(20,113,138);
}
.one{
    height: 50px;
    width: 25%;
    margin: auto;
    border: 1px solid red;
}
.two{
    height: 57px;
    width: 25%;
    margin: auto;
    margin-top: 18px;
    background-color:rgb(20,113,138);
}
.three{
    height: 57px;
    width: 25%;
    margin: auto;
    border: 1px solid red;
}
.two>p{
    text-align: center;
    color: white;
}
#container{
    width: 80%;
    border: 1px solid;
    margin: auto;
    border: 1px solid ;
    height: 1000px;
    margin-top: 10px;
    display: flex;
}
#left{
    width: 60%;
    height: 1000px;
    /* background-color: teal; */
}
#right{
    width: 40%;
    height: 1000px;
    background-color: blueviolet;
}
.coupons{
    height: 60px;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    display: flex;

}
.coupons>i{
    margin: auto;
    height: 27px;
    width: 10.2%;
    padding-left: 380px;
}
#cartitems{
    height: auto;
    width: 100%;
    border: 1px solid red;
}
.lastsecond{
    height: 60px;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    display: flex;

}
.lastfirst{
    height: 60px;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    display: flex;

}