body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/* 3nd */

#subhead {
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
}

  /* catogery dropdown */

#subhead > div > ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  margin: auto;
  /* position: relative; */
}

#subhead div ul li {
  margin: 5px;
  margin-left: -5%;
  padding: 5px;
}

#subhead div ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  /* border: 1px solid red; */
  padding: 15px;
}

#subhead div ul li a i {
  margin-right: 5px;
}

#subhead .menu2 {
  /* border: 1px solid red; */
  margin-right: -3%;
}

#subhead .menu2 ul li a {
  /* border: 1px solid red; */
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#subhead .menu2 ul li a i {
  margin-right: 5px;
}

.sub_menu1 {
  border: 1px solid rgb(165, 162, 162);
  position: absolute;
  /* overflow: hidden; */
  background-color: white;
  margin-top: 0.75%;
}


.sub_menu1 ul {
  list-style: none;
  margin-left: -17%;
}

.sub_menu1 ul li {
  /* border: 1px solid red; */
  width: 100%;
  cursor: pointer;
}

.sub_menu1 ul li:hover {
  background-color: rgba(201, 198, 198, 0.425);
}


/* 4rd */

#free_ship {
  background-color: black;
  color: white;
  /* border: 1px solid red; */
  /* height: 50px; */
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#free_ship > div {
  margin-top: 1%;
  margin-left: 1%;
}

/* 5th */

#offer {
  background-color: aqua;
  padding: 1%;
}

#offer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid green; */
  background-color: rgba(255, 255, 255, 0.37);
  border: 3px solid #e51549;
}

#extra {
  text-align: right;
  margin-right: 1%;
  /* margin-top: -50px; */
  /* border: 1px solid red; */
}

h5 {
  margin-top: -10%;
}

#off {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  align-items: center;
  /* position: relative; */
  /* height: 10px; */
}

.t20 {
  /* border: 1px solid black; */
  /* position: relative; */
  font-weight: bolder;
  font-size: 100px;
  margin-top: auto;
  text-overflow: ellipsis;
  height: 75px;
}

.per {
  /* border: 1px solid red; */
  /* margin-top: px; */
  font-weight: 800;
  font-size: 35px;
  text-align: center;
}

.peroff {
  /* border: 1px solid red; */
  margin-top: -40px;
  font-size: 35px;
  text-align: center;
}

#offer {
  /* border: 1px solid rebeccapurple; */
  margin-top: 1%;
}

.red {
  border: 1px solid #e51549;
  width: 30%;
  padding: auto;
  padding: 5px;
  background-color: #e51549;
  color: white;
  margin-top: 0;
}

#procode > div > p {
  margin: auto;
  font-weight: 500;
  /* margin-top: -5%; */
}
#procode > div > p:nth-child(2) {
  /* margin: auto; */
  /* margin-top: -5%; */
  font-weight: bold;
}

.para {
  margin-top: -8%;
}

/* 6th */

#active {
  /* border: 1px solid black; */
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-items: row;
  /* position: relative; */
}

.s_act {
  /* border: 1px solid black; */
  /* position: absolute; */
  font-size: 40px;
  width: 30%;
  letter-spacing: 3px;
  font-weight: bolder;
  margin: 0 0 0 1%;
  padding: 5% 5%;
}
.brand {
  /* border: 1px solid red; */
  width: 80%;
  margin-left: 35%;
  margin-top: -10%;
}

.sh {
  font-size: 20px;
  border: 1px solid;
  width: 36%;
  padding: 10px;
  color: white;
  margin-left: 35%;
  background-color: black;
}

.for_img {
  /* border: 1px solid red; */
  width: 56%;
  margin-left: 1%;
}

img {
  border: 1px solid green;
  width: 100%;
  height: 700px;
}

/* 7th */

#section {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.section2 {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 98%;
  /* margin-top: -1%; */
  /* margin: auto; */
  text-align: center;
  /* cursor: pointer; */
}

.sec_img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: none;
}

.sec2a {
  /* border: 1px solid red; */
  cursor: pointer;
}

.sec_name {
  /* border: 1px solid red; */
  margin-top: auto;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.sec2a > a {
  text-decoration: none;
}

/*  */

.heading{
    text-align: center;
    font-size:46px;
    font-weight: 700;
    line-height: 64.4px;
}
#box1{
    /* border:2px solid black; */
    padding-top: 1%;
    display:flex;
    flex-wrap: wrap;
    width:95%;
    margin: auto;
    /* gap: 10px; */
    /* height: 100px; */
}
#box1>.innerbox{
    /* border :2px solid blue; */
    display: flex;
    flex-wrap: wrap;

}
.toptab{
    margin-left:125px;
    position:absolute;
    /* align-items: center; */
    margin-top:-13px;
    align-content: center;
    /* border:2px solid black; */
    text-align: center;
    color:white;
    background-color: black;
    font-weight: bold;
    width:180px;
    height:25px;
  }
  .bottom{
  /* border:2px solid black; */
    position: absolute;
    left: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 323px;
    background-color: hsla(0,0%,100%,.8);
    margin-left: 12px;
    width: 92.3%;
    justify-content: space-around;
    
}
h4:hover{
    cursor:pointer;
    text-decoration: underline;
}
#first{
    margin-left: 45px;
}
#third{
    margin-right: 30px;
}
#box2{
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    margin:auto;
    height:450px;
    /* border: 3px solid black; */
    gap:30px;
    margin-top:100px;

}
#box2>div{
    width:25%;
    /* border:2px solid black; */

}
#box2 p{
    text-align: right;
    font-weight: bold;
    font-size:28.7788px;
    line-height:33.0958px;
}
.tomato{
    margin-left:60px;
}
#box2 div p a{
    color:black;
}
#box2 .btnn{
    border:2px solid;
    background-color: black;
    color:white;
    border-radius: 5px;
    width:90px;
    text-align:center;
    height:20px;
    
}
#box2 div img{
    height: 350px;
    width:300px;

}

#box2 #big{
    font-size:45px;
    text-align: left;
    line-height:50px;
    
    /* color:blue */
    /* font-size:28.7788px; */
}
#innerboxx{
    /* background-color: rgb(235,238,234); */
    margin-top:10px;
}

#box3head{
    margin:auto;
    /* border: 2px solid; */
    width:90%;
    text-align: center;
    font-size:28px;
    margin-top: 90px;
    color:black;
}
#box3{
    display:flex;
    /* flex-wrap: wrap; */
    width: 90%;
    margin:auto;
    height:300px;
    /* border: 3px solid black; */
    gap:20px;
    margin-top:-20px;
}
#box3 img{
    height:180px;
    width:180px;
    padding-top:20px;
}
.innerbox2{
    text-align: center;
    font-weight: bold;
    font-size:18px;
}
#box4{
    display:flex;
    /* flex-wrap: wrap; */
    width:90%;
    margin:auto;
    margin-top: 40px;
}
#box4 img{
    height:250px;
    width:340px;
}
.innerbox3 p{
    text-align: center;
    font-weight: bold;
    font-size:18px;
}
#box5 .innerbox4{
    margin:auto;
    /* border:2px solid black; */
    width:90%;
    margin-top:30px;
}
#box5 .innerbox4 img{
    width:100%;
}
#box6 .innerbox5{
    margin:auto;
    /* border:2px solid black; */
    width:90%;
    margin-bottom:50px;
}
#box6 .innerbox5 img{
    width:100%;
}


