body {
  margin: 0;
}

nav {
  background-color: #fff;
  border-top: 1px solid #6e7174a1;
  border-bottom: 1px solid #6e7174a1;
  position: sticky;
  top: 0;
  font-family: Helvetica;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.8% 2% 0% -2%;
}

.side {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -1%;
  width: 30%;
}

.left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.logo {
  font-size: larger;
  font-weight: bolder;
}

#kohl {
  color: #34393f;
  letter-spacing: -1px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}


.hov:hover {
  background-color: #80868d73;
}

section {
  margin-top: 50%;
}



/* Search box */
.wrapper{
  /* border: 1px solid ; */
  margin: -10%;
  height: 10px;
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.search {
  margin-left: 5%;
}

.search_box{
  position: relative;
	padding: 15px;
	display: flex;
}

.search_box .search_btn{
  width: 40px;
	height: 40px;
  size: px;
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: black;
	margin-right: 15px;
	cursor: pointer;
  position: absolute;
  top: 21%;
}

.search_box .input_search{
  outline: none;
	border: 1px solid green;
	border-radius: 5px;
	padding: 15px 40px;
	width: 300px; 
	height: 10px;
	color: black;
}


