*{
    font-family:"Gotham 4r", Helvetica, Arial, sans-serif;
    /* background-color: whitesmoke; */
}


#continue{
    display: flex;
    line-height: 1px;
    height: 40px;
    width: 100%;
    border: 1px solid;
    border-left: none;
    border-right: none;
}
#cont-shop{
    font-size: large;
    cursor: pointer;
    margin-left: 6px;
    font-weight: 550;
}
#less-than{
    height: 22px;
    width: 20px;
    margin-left: 20px;
    margin-top: 6px;
    cursor: pointer;
}
#cartbar{
    height: 110px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid;
}
.imp{
    height: 75px;
    width: 100%;
    background-color: rgb(213, 237, 239);
    display: flex ;
}
#down-bar{
    height: 35px;
    width: 100%;
    background-color:rgb(20,113,138);
     
}
#offer{
    height: 50px;
    width: 25%;
    background-color:rgb(20,113,138);
}
.one{
    height: 50px;
    width: 25%;
    margin: auto;
    /* border: 1px solid red; */
}
.two{
    height: 57px;
    width: 25%;
    margin: auto;
    margin-top: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:rgb(20,113,138);
}
.three{
    height: 57px;
    width: 17%;
    margin: auto;
    margin-left: 15%;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid ;
    background-color:rgb(20,113,138);
    color: white;
    border-radius: 15px;

}
.three>h3{
    text-align: center;
}
.two>p{
    text-align: center;
    color: white;
}

.margin-left{
   display: flex;
   justify-content: space-between;
   padding: 0px 10px;
   font-size: 15px;
}
.underline{
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}