body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#full{
    /* border: 1px solid red; */
    width: 85%;
    margin: auto;
    display: flex;
}
#name_image{
    width: 55%;
    /* border: 1px solid black; */
    margin-right: 100px;
}
#cartAdder{
    width: 25%;
    height: 50%;
    /* height: 300px; */
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 22px;
    margin-top: 100px;
}
#productName{
    font-size: 26px;
    font-weight: 400;
}
#image{
    width: 576px;
    height: 576px;
    /* border: 1px solid blue; */
    margin: 0 auto;
}
#productImage{
    width: 100%;
}
#review{
    font-size:13px;
    font-weight:600
}
#sale_orignal_price{
    display: flex;
    text-decoration: line-through;
    font-size:14px;
    font-weight: 500;
}
#sale_orignal_price > p{
    margin-top: 0;
    margin-bottom: 0;
}
#orignalPrice{
    color: gray;
}
#finalPrice{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}
#salePrice{
    font-size:33px;
    font-weight:700;
    margin: 0;
    margin-right: 15px;
    color: #7E2C79;
}
#discountCode{
    margin: 0;
    font-size:14px;
    font-weight: 500;
}
#discount{
    color: #7E2C79;
    font-weight:700; 
    font-size: 16px;
}
#line{
    border-top: 1px solid rgb(216, 216, 216);
    margin: 10px;
}
#size{
    font-size: 14px;
    margin-top: 25px;
}
#s{
    font-weight: bold;
}
#quantity>p{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 25px;
}
#quantityBox{
    border: 1px solid rgb(216, 216, 216);
    width: 100px;
    height: 40px;
    display: flex;
}
#quantityBox > button{
    background-color: white;
    border: 0;
    font-size: 26px;
    width: 33%
}
#quantityBox > div{
    /* font-size: 18px; */
    width:33%;
    margin: 0;
    text-align: center;
}
#quantityBox > div > p{
    margin: auto;
    margin-top: 9px;
}
#addToCart{
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(21,113,139);
    color: #F7FAFB;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px
}
#addToCart>i{
    margin-right: 15px;
}
#productDescription{
    border: 3px solid rgb(216, 216, 216);
    width: 40%;
    margin-left: 150px;
    margin-top: 30px;
    padding: 10px;
}
#productDescription > h3{
    margin: 0;
    border-bottom: 3px solid #15718B;
    font-size: 16px;
    display: inline;
    font-weight: 600;
}
#description{
    font-size: 14px;
}
#back{
    margin-left: 20px;
    margin-top: 20px;
    background-color: #15718B;
    border: 0;
    color: white;
    padding: 5px;
    border-radius:10px;
}
#back > i{
    margin-right: 5px;
}
#selectedSize{
    height: 30px;
    width: 50px;
    border: 1px solid rgb(185, 185, 185);
}

@media only screen and (min-width: 50px) and (max-width: 459px){
    #full{
        display: grid;
        width: 80%;
        padding: 50px
        /* justify-content: center; */
    }
    #image{
        width: 288px;
        height: 288px;
    }
    #name{
        width:350px;
    }
    #productName{
        font-size: 22px;
        width: 300px;
    }
    #cartAdder{
        width: 50%;
        margin-top: 30px;
        height: 80%
    }
    #productDescription{
        width: 60%;
        margin-left: 70px;
        margin-top: 0;
    }
}