#container{
    display:flex;
    height:500px;
    width:75%;
    margin:auto;
    font-weight: 100;
    border: 1px solid red;

}
#child{
    
    height:500px;
    width:40%;
    margin-right:50px;
    margin-left: 10px;
    border: 1px solid red;
 }
 h4{
     font-weight: 100;
 }
#form>input{
    width: 90%;
    height:40px;
}
#submit{
    height:50px;
    margin-top: 20px;
    background-color: #95c96f;
    color:white;
    font-size: large;
}

#child2{
    height:500px;
    width:40%;
    margin-right:50px;
    margin-left: 10px;
    border: 1px solid red;

}
#facility{
    display:flex;
    border:1px solid green;

}
img{
    height:60px;
    width:60px;
}
h2{
    text-align: justify;
}
button{
    width:100%;
    height:50px;
    margin-top: 10px;
    background-color: #95c96f;
    color:white;
    font-size: large;

}
